---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="de">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
				font-family: "Inria Sans", sans-serif;
			}
			article {
				margin-top: -2%;
			}
			.hero-image {
    			height: 700px; /* Set desired height */
			}

			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: 20px 10px 20px 10px var(--box-shadow);
				width: 55%; /* Ensure it fills the width */
				height: 100%; /* Force the image to match the container height */
				object-fit: cover; /* Ensure the image maintains its visual proportions */
			}
			.prose {
				width: 55%;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				text-align: center;
				line-height: 1;
				font-family: "Inria Serif", serif;
				font-size: 1.5vw;
				font-weight: 200;
			}
			@media (max-width: 720px) {
				.title {
					font-size: 3vw;
				}
				.hero-image {
					height: 400px;
					img {
						width: 90% !important;
					}
				}
				.prose {
					width: 100%;
				}
			}
			.title h1 {
				margin: 0 0 0 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
				display: none;
			}
			.last-updated-on {
				font-style: italic;
			}
			hr {
				border: 0; 
				height: 2px;
				background-color: var(--accent); 
			}

		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={700} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
